<link rel="stylesheet" type="text/css" href="/css/create.css">

<div class="mdl-card mdl-shadow--4dp">
	<form action="/create/list" method="post">
		<div class="mdl-card__title">
			<div class="mdl-textfield mdl-js-textfield">
	    		<input class="mdl-textfield__input" type="text" name="listtitle" id="sample1" required>
	    		<label class="mdl-textfield__label" for="sample1">Listnamn</label>
	  		</div>
		</div>
	</form>	

</div>