<div class="toprow">
	
	<img class="features_img" src="/images/lista.test.png">
	<div class="features_text">

		<h1>Features</h1><h3>Bacon ipsum dolor amet sausage meatball pork belly ball tip. Tenderloin landjaeger tongue, shankle corned beef pork belly doner porchetta chicken bacon. Meatball chicken picanha andouille beef boudin. Ham biltong leberkas beef venison.</h3>


	</div>

<link rel="stylesheet" type="text/css" href="/css/welcome.css">

</div>


<div class="botrow">
	
	<img class="group_img" src="/images/group_image.jpg">
	<div class="features_text">

		<h1>Group</h1><h3>Bacon ipsum dolor amet sausage meatball pork belly ball tip. Tenderloin landjaeger tongue, shankle corned beef pork belly doner porchetta chicken bacon. Meatball chicken picanha andouille beef boudin. Ham biltong leberkas beef venison.</h3>


	</div>
</div>